@model n01458860CumulativePart1.ViewModels.TeacherViewModel
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav id="menu">
        <ul >
            <li>
                <a href="/Teacher/List">Back to Teachers</a>
            </li>
            <li>
                <a href="/Teacher/DeleteConfirm/@Model.teacher.id">Delete</a>
            </li>
            <li>
                <a href="/Teacher/Update/@Model.teacher.id">Update teacher</a>
            </li>
        </ul>
        
        
        
    </nav>
    <h2>Teacher information</h2>
    <p>Name: @Model.teacher.fname @Model.teacher.lname</p>
    <p>Hired date: @Model.teacher.hiredate</p>
    <p>Teacher number: @Model.teacher.number</p>
    <p>Salary: @Model.teacher.salary</p>
    <h3>List of Courses</h3>
    <ul>
        @foreach (var course in @Model.classes)
        {
            <li>
                <div>
                    Course: @course.classname
                </div>
                <div>
                    Course code: @course.classcode
                </div>
                <div>
                    Start date: @course.startdate
                </div>
                <div>
                    Finish date: @course.finishdate
                </div>



            </li>
        }

    </ul>

</div>
